<!DOCTYPE html>
<html>

  {% include head.html %}
  <link rel="stylesheet" type="text/css" href="{{ "/static/css/zns_common.css" | prepend: site.baseurl }}">

  <script type="text/javascript" src="{{ "/static/js/zns_demo.js" | prepend:site.baseurl }}"></script>
 <!--  <body data-spy="scroll" data-target="#myAffix"> -->
  <body>

    {% include header.html %}


    <div id="div1">
      <strong id="div2"></strong>
    </div>
    <style>

      .znsCom{
        width:100%;
        clear:both;
        overflow:hidden;
        position:fixed;
        bottom:20px;
        text-align:center;
        color:#FFF;
        font-family:Verdana;
        _position: absolute;
        _top: expression(document.documentElement.clientHeight - document.getElementById('znsCom').offsetHeight - 20 + "px");
        z-index:99999;
      }
      .znsCom a{
        color:#FFF;
        text-decoration:none;
      }
    </style>

    {% include footer.html %}

  </body>
</html>
